# можете удалить эти папки, которые тут написаны
# можете использовать это как шаблон для будущих сборок
shaderpacks
screenshots
local
.curseclient
minecraftinstance.json
# defaultconfigs - по желанию
# что бы ezz без всяких хуень выгружать файлы на гитхаб после тестов/серий
saves
logs
crash-reports
backups
usercache.json
usernamecache.json
options.txt
servers.dat
servers.dat_old
rhino.local.properties
.qmenu_opened.marker
fancymenu_instance_data
fancymenu_data
enigmatic_persistence.dat
lightspeed-cache
# !!! СНАЧАЛО ЗАКИНУТЬ ГИТ ИГНОР, GIT PULL/PUSH, ПОТОМ УДАЛЯТЬ ФАЙЛЫ С РЕПО

